@tailwind base;
@tailwind components;
@tailwind utilities;

/* Twoje zmienne możesz zostawić, ale bez resetów i bez #root stylowania */

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;
  --accent: #aa3bff;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}